
.common-tables {
  padding: 20px 20px;
  font-weight: bold;

  &_county-title__wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

.data-target {
  font-weight: bold;
  text-align: center;
  background: $color-background-bottom-elem;
  border: 1px solid $color-border;
  border-radius: .5em;
  color: inherit;
  font-size: 16px;
  padding-left : 6px;
  padding-right : 6px;
  padding: 3px 0;

  @include text-shadow;
}

.common-table {
  border: 1px solid $color-border;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  text-align: center;
  border: none;

  & caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
    text-align: center;
    color: $color-white;
    caption-side: top;
    color: $color-white;
  }

  & tr {
    border: 1px solid $color-border;
    padding: .35em;
  }

  & th,
  & td {
    padding: .625em;
    text-align: center;
  }

  & th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  &__title {
    padding: 8px 0;
  }

  @media screen and (max-width: 600px) {
    & {
      border: 0;
    }

    & caption {
      font-size: 1.3em;
    }

    & thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    & tr {
      border-bottom: 3px solid $color-border;
      display: block;
      margin-bottom: .625em;
    }

    & td {
      border-bottom: 1px solid $color-border;
      display: block;
      font-size: .8em;
      text-align: right;
    }

    & td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    & td:last-child {
      border-bottom: 0;
    }
  }
}

.cases, .deaths, .recovered {
  background-color: $color-background-top-elem;
}

.cases_value, .deaths_value, .recovered_value {
  background-color: $color-background-bottom-elem;
}