.countries-table {
  color: $color-white;
  font-weight: bold;

  @include media-laptop {
    padding: 50px 20px;
  }

  @include media-tablet {
    padding: 50px 20px;
  }

  @include media-mobileMiddle {
    padding: 20px 7px;
  }

  @include media-preMobileSmall {
    padding: 20px 5px;
  }

  &_wrapper {
    justify-content: center;
    text-align: center;
  }

  .dataTables_length, .dataTables_info {
    margin-top: 6px;
    padding-bottom: 5px;
    text-align: left;
  }

  .dataTables_paginate {
    @include media-tablet {
      margin-top: 10px;
    }

    @include media-mobileMiddle {
      margin-top: 10px;

      @include center-item-and-text;
    }

    @include media-preMobileSmall {
      margin-top: 10px;

      @include center-item-and-text;
    }
  }

  .dataTable-pagination {
    background-color: $color-white;
  }

  .country-btn {
    color: $color-white;
    background-color: $color-purple-light;
    border-color: $color-border-dark;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .countries-table-column {
    text-align: center;
  }

  .active > a {
    color: $color-white;
    background-color: $color-background-top-elem;
    border-color: $color-border;
  }

  .country-btn {
    width: 100%;
  }


  /* Sorting table logic start */
  .table-sortable > thead > tr > th {
    cursor: pointer;
    position: relative;
  }

  .table-sortable > thead > tr > th:after,
  .table-sortable > thead > tr > th:after,
  .table-sortable > thead > tr > th:after {
    content: ' ';
    position: absolute;
    height: 0;
    width: 0;
    right: 10px;
    top: 16px;
  }

  /* Default sortable indicator */
  .table-sortable > thead > tr > th:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ccc;
    border-bottom: 0px solid transparent;
  }
  /* !Default */

  /* Default sortable indicator:hover */
  .table-sortable > thead > tr > th:hover:after {
    border-top: 5px solid #888;
  }
  /* !Default:hover */

  /* Ascending sortable indicator */
  .table-sortable > thead > tr > th.asc:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 5px solid #333;
  }
  .table-sortable > thead > tr > th.asc:hover:after {
    border-bottom: 5px solid #888;
  }
  /* !Ascending */

  /* Descending sortable indicator */
  .table-sortable > thead > tr > th.desc:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    border-bottom: 5px solid transparent;
  }
  /* !Descending */
  /* Sorting table logic end */
}
